In [34]:
import pandas as pd

In [35]:
data=pd.read_csv('reading.csv')

In [36]:
data

  Method  Grade
0      c     80
1      c     93
2      c     83
3      c     89
4      c     98
5      t    100
6      t    103
7      t    104
8      t     99
9      t    102

In [45]:
c=data[data.Method == "c"]

In [38]:
c

  Method  Grade
0      c     80
1      c     93
2      c     83
3      c     89
4      c     98

In [39]:
t=data[data.Method == "t"]

In [40]:
t

  Method  Grade
5      t    100
6      t    103
7      t    104
8      t     99
9      t    102

In [ ]:
from scipy import stats

In [43]:
stats.ttest_ind(t.Grade,c.Grade)

Ttest_indResult(statistic=3.830161731427132, pvalue=0.005016762443669757)